<%- include('../../includes/header', { title: locals.title}); %>

<div style="text-align:center;">
	<a href="/m8/ce/nodes/edit?nodeid=<%- locals.node.id %>">Edit node</a>
</div>

<h1><%- locals.title || 'Create Node' %></h1>

<div style="margin: 20px;">
	<%- locals.content %>
</div>

<%- include('../../includes/footer'); %>
