<%- include('../../includes/header', { title: locals.title}); %>

<h1>Nodes</h1>

<%- locals.content %>

<div class="ceCard">
	<div class="button">
		<a href="/m8/ce/nodes/create">Create new node</a>
	</div>
</div>

<table class="ce-nodes-list">
	<tr>
		<th><a href="/m8/ce/nodes/?order=asc&by=path">Path</a></th>
		<th><a href="/m8/ce/nodes/?order=asc&by=title">Title</a></th>
		<th>Type</th>
		<th>Build</th>
		<th><a href="/m8/ce/nodes/?order=asc&by=id">ID</a></th>
		<th>View</th>
		<th>Edit</th>
	</tr>

	<% for(let i=0; i<all_nodes.length; i++) { %>
		<tr>
			<td><%- all_nodes[i].path %></td>
			<td><%- all_nodes[i].title %></td>
			<td><%- all_nodes[i].type %></td>
			<td>
				<a href="/m8/generate/build<%- all_nodes[i].path %>" target="m8preview">
					<img src="/img/icon-generate.svg" style="height:28px;width:auto;" alt="edit node <%- all_nodes[i].id %>" />
				</a>
			</td>
			<td><b><%- all_nodes[i].id %></b></td>
			<td>
				<a href="<%- all_nodes[i].path %>" target="m8preview">
					<img src="/img/icon-view.svg" alt="view page" />
				</a>
			</td>
			<td>
				<a href="/m8/ce/nodes/read?id=<%- all_nodes[i].id %>">
					<img src="/img/icon-edit.svg" alt="edit node <%- all_nodes[i].id %>" />
				</a>
			</td>
		</tr>
	<% } %>
</table>

<%- include('../../includes/footer'); %>
