<%- include('../../includes/header', { title: locals.title}); %>

<div style="text-align:center;">
	<a href="/_m8/ce/nodes/">back</a>
</div>

<h1><%- locals.title || 'Edit Container' %></h1>
<%- locals.content %>

<form method="POST" action="<%- locals.formaction %>">
	<div class="valueedit">
		<span class="name">
			ID
		</span>
		<span class="value">
			Create New Container
		</span>
	</div>
	<div class="valueedit">
		<span class="name">
			Title
		</span>
		<span class="value">
			<input name="title" type="text" value="" />
		</span>
	</div>
	<div class="valueedit">
		<span class="name">
			Path
		</span>
		<span class="value">
			<input name="path" type="text" value="<%- locals.node.path %>" />
		</span>
	</div>
	<div class="valueedit">
		<span class="name">
			Content
		</span><br>
		<span class="value">
			<textarea name="content" rows="30" cols="90"><%- locals.node.content %></textarea>
		</span>
	</div>
	<div class="formcontrol">
		<button>Save</button>
	</div>
</form>

<%- include('../../includes/footer'); %>
