<%- include('../../includes/header', { title: locals.title}); %>

<div style="text-align:center;">
	<a href="/m8/ce/pages/edit?pageid=<%- locals.page.id %>">Edit page</a>
</div>

<h1><%- locals.title || 'Create Page' %></h1>

<div style="margin: 20px;">
	<%- locals.content %>
</div>

<%- include('../../includes/footer'); %>
