<%- include('../../includes/header', { title: locals.title}); %>

<div class="button">
	<a href="/m8/ce/pages/create">Create new page</a>
</div>

<h1><%- locals.title || 'CE: Pages' %></h1>
<div style="margin:0;padding: 20px 0;">
	<%- locals.content %>
</div>

<table class="ce-pages-list">
	<tr>
		<th>
			<a href="/m8/ce/pages/?order=asc&by=id">
				ID
			</a>
		</th>
		<th>
			<a href="/m8/ce/pages/?order=asc&by=path">
				Path
			</a>
		</th>
		<th>
			<a href="/m8/ce/pages/?order=asc&by=title">
				Title
			</a>
		</th>
		<th>
			Generate
		</th>
		<th>
			Edit
		</th>
	</tr>

	<% for(let i=0; i<all_pages.length; i++) { %>
		<tr>
			<td>
				<%- all_pages[i].id %>
			</td>
			<td>
				<a href="<%- all_pages[i].path %>" target="localhost">
					<%- all_pages[i].path %>
				</a>
			</td>
			<td>
				<%- all_pages[i].title %>
			</td>
			<td>
				<a href="/m8/dbgen/?page=<%- all_pages[i].path %>" target="localhost">
					<%- all_pages[i].path %>
				</a>
			</td>
			<td>
				<a href="/m8/ce/pages/read?id=<%- all_pages[i].id %>">
					<%- all_pages[i].id %>
				</a>
			</td>
		</tr>
	<% } %>
</table>

<%- include('../../includes/footer'); %>
