<%- include('../../includes/header', 'Edit Page'); %>

<h1 class="ceType">Edit Page</h1>
<%- locals.content %>


<div class="button">
	<a href="<%- locals.node.path %>" target="m8preview">
		<img src="/_m8/img/icon-view.svg" style="max-height:25px;width:auto;" alt="view page" /> View
	</a>
</div>

<form method="POST" action="<%- locals.formaction %>">
	<input type="hidden" name="nodeid" value="<%- locals.node.id %>" />
	<div class="valueedit">
		<label for="id">Id</label>
		<span class="value">
			<input name="id" type="text" value="<%- locals.node.id %>" readonly class="numberonly" />
		</span>
	</div>

	<div class="valueedit">
		<label for="type">Type</label>
		<span class="value">
			<select name="type" id="type">
<option value="article"<% if(locals.node.type === 'article') { %>selected<% }%> >article</option>
<option value="container"<% if(locals.node.type === 'container') { %>selected<% }%> >container</option>
<option value="page"<% if(locals.node.type === 'page') { %>selected<% }%> >page</option>
<option value="plugin"<% if(locals.node.type === 'plugin') { %>selected<% }%> >plugin</option>
			  </select>
		</span>
	</div>

	<!-- +++++++++++++++++++++++++++++++ -->

	<div class="valueedit">
		<label for="parentid">Parent</label>
		<span class="value">
			<input name="parentid" type="number" value="<%- locals.node.parentid %>" />
		</span>
	</div>

	<div class="valueedit">
		<label for="has_articles">has_articles</label>
		<span class="value">
			<input name="has_articles" type="number" value="<%- locals.node.has_articles %>" />
		</span>
	</div>

	<div class="valueedit">
		<label for="layout">Layout</label>
		<span class="value">
			<input name="layout" type="text" value="<%- locals.node.layout %>" />
		</span>
	</div>

	<div class="valueedit">
		<label for="num">Num</label>
		<span class="value">
			<input name="num" type="number" value="<%- locals.node.num %>" />
		</span>
	</div>
	<div class="valueedit">
		<label for="title">title</label>
		<span class="value">
			<input name="title" type="text" value="<%- locals.node.title %>" />
		</span>
	</div>
	<div class="valueedit">
		<label for="path">Path</label>
		<span class="value">
			<input name="path" type="text" value="<%- locals.node.path %>" />
		</span>
	</div>
	<div class="valueedit">
		<label for="content">Content</label>
		<br>
		<span class="value">
			<script src="/_m8/ce/cfg/ckeditor/ckeditor.js"></script>
			<textarea name="content" id="content"><%- locals.node.content %></textarea>
			<script>
					CKEDITOR.replace( 'content' );
			</script>
		</span>
	</div>
	<div class="formcontrol">
		<button class="button">Save</button>
	</div>
</form>

<div style="border:1px solid darkseagreen; padding:20px; margin:10px; background-color:#f0f0f0;">
	<div class="button">
		<a href="/_m8/ce/nodes">Close</a>
	</div>
	<div class="button">
		<a href="/_m8/cegenerator/build<%- locals.node.path %>" target="m8preview">
			<img src="/_m8/img/icon-generate.svg" alt="build page" style="width:auto; height:25px;" /> Build
		</a>
	</div>
</div>
	
<div style="border:1px solid darkseagreen; padding:20px; margin:10px; background-color:#f0f0f0;">
	<form name="delete_form" method="POST" action="/_m8/ce/nodes/delete">
		<input type="hidden" name="nodeid" value="<%- locals.node.id %>" />
		<input type="hidden" name="path" value="<%- locals.node.path %>" />
		<input type="checkbox" id="confirm" name="confirm" >
		<label for="confirm">Confirm</label>
		<button class="button"	>DELETE</button>
	</form>
</div>
	
<div>
	<h3>Elements</h3>
	<table>
		<tr>
			<th>ID</th>
			<th>Type</th>
			<th>Position</th>
			<th>Number</th>
			<th>Actions</th>
		</tr>
		<% if(locals.all_mappings && locals.all_mappings.length){ %>
			<% for(let i=0; i<locals.all_mappings.length; i++) { %>
				<% thisMapping = locals.all_mappings[i] %>
				<tr>
					<td><%- thisMapping.elementId %></td>
					<td>type</td>
					<td><%- thisMapping.posrow %></td>
					<td><%- thisMapping.posnum %></td>
					<td>
						<a href="/_m8/ce/elements/edit?id=<%- thisMapping.elementId %>">
							open element <%- thisMapping.elementId %>
						</a> 
						action2 
						action3
					</td>
				</tr>
			<% } %>
			</table>
		<% } else { %>
			</table>
			<div> +++++ no mappings found +++++	</div>
		<% } %>

		<div>
			Add Element:<br>
			<form name="addElementForm" method="POST" action="/_m8/ce/elements/mappage">
				<input type="hidden" name="nodeid" value="<%- locals.node.id %>" />
				Element-ID:
				<input type="number" name="elementid" />
				<br>
				Pos-Col:
				<input type="number" name="poscol" />
				<br>
				Pos-Num:
				<input type="number" name="posnum" />
				<br>
				<button class="button">
					Submit
				</button>
			</form>
		</div>
</div>

<%- include('../../includes/footer'); %>
