<%- include('../../includes/header', { title: locals.title}); %>

<div class="button">
	<a href="/m8/ce/files/create">Upload new file</a>
</div>

<h1><%- locals.title %></h1>
<h2>url_prefix: <%- locals.url_prefix %></h2>
<div style="margin:0;padding: 20px 0;">
	<%- locals.content %>
</div>

<%- include('../../includes/footer'); %>
