<%- include('../../includes/header', { title: "Element"}); %>

<h1 class="ceType">Element</h1>

<br><div class="button"><a href="./">Back</a></div>

<h3>Element <%- locals.object.id %></h3>

<script>
	function submitForm() {
		if(document.getElementById("editor")) {
			// alert(editor.getValue());
			document.getElementById('content').value = editor.getValue();
		}
	}
</script>

<form 
	name="myForm" 
	id="myForm" 
	method="post" 
	action="<%- locals.formaction %>"
	onsubmit="submitForm()"
>
	<div class="valueedit">
		<label for="id">Id</label>
		<span class="value">
			<input name="id" type="text" value="<%- locals.object.id %>" readonly class="numberonly" />
		</span>
	</div>

	<div class="valueedit">
		<label for="title">title</label>
		<span class="value">
			<input name="title" type="text" value="<%- locals.object.title %>" />
		</span>
	</div>
	<div class="valueedit">
		<label for="type">Type</label>
		<span class="value">
			<select name="type" id="type">
<option value="text"<% if(locals.object.type === 'text') { %>selected<% }%> >text</option>
<option value="html"<% if(locals.object.type === 'html') { %>selected<% }%> >html</option>
<option value="image"<% if(locals.object.type === 'image') { %>selected<% }%> >image</option>
<option value="seperator"<% if(locals.object.type === 'seperator') { %>selected<% }%> >seperator</option>
<option value="card"<% if(locals.object.type === 'card') { %>selected<% }%> >card</option>
<option value="imagelist"<% if(locals.object.type === 'imagelist') { %>selected<% }%> >imagelist</option>
			  </select>
		</span>
	</div>

	<% if(locals.object.type === 'text') { %>
		<div class="valueedit">
			<label for="content">Content</label>
			<br>
			<span class="value">
				<script src="/_m8/ce/cfg/ckeditor/ckeditor.js"></script>
				<textarea name="content" id="content"><%- locals.object.content %></textarea>
				<script>CKEDITOR.replace( 'content' );</script>
			</span>
		</div>
	<% } %>

	<% if(locals.object.type === 'html') { %>
		<div class="valueedit" style="display:none;">
			<label for="content">Content</label>
			<textarea name="content" id="content"><%- locals.object.content %></textarea>
		</div>
	<% } %>

	<div class="formcontrol" style="margin-bottom:15px;">
		<button class="	button">Save</button>
	</div>
</form>

<% if(locals.object.type === 'html') { %>
		<div style="position:relative;width:500px;height:500px;overflow:hidden;">
			<style type="text/css">
				#editor {
					position: absolute;
					margin: 0;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}
			</style>
			<pre id="editor" name="editor"></pre>
			<script src="/_m8/ce/cfg/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
			<script>
				var editor = ace.edit("editor");
				editor.setTheme("ace/theme/solarized_dark");
				editor.session.setMode("ace/mode/html");
				editor.session.setUseWrapMode(true);
				editor.setValue(document.getElementById("content").value);
			</script>
		</div>
<% } %>


<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

<h3>Mappings</h3>
<table>
	<tr>
		<th>ID</th>
		<th>Type</th>
		<th>Position</th>
		<th>Number</th>
		<th>Actions</th>
	</tr>
	<% if(locals.all_mappings && locals.all_mappings.length){ %>
		<% for(let i=0; i<locals.all_mappings.length; i++) { %>
			<% thisMapping = locals.all_mappings[i] %>
			<tr>
				<td><%- thisMapping.nodeId %></td>
				<td><%- thisMapping.nodeType %></td>
				<td><%- thisMapping.posrow %></td>
				<td><%- thisMapping.posnum %></td>
				<td>
					<a href="/_m8/ce/nodes/open?id=<%- thisMapping.nodeId %>">
						open node <%- thisMapping.nodeId %>
					</a> 
				</td>
			</tr>
		<% } %>
		</table>
	<% } else { %>
		</table>
		<div> +++++ no mappings found +++++	</div>
	<% } %>

<%- include('../../includes/footer'); %>
