<%- include('../../includes/header', { title: locals.title}); %>

<h1 class="ceType">Elements</h1>

<div>
	<%- locals.content %>
</div>

<div class="ceCard">
	<div>
		<form name="createForm" id="createForm" action="/_m8/ce/elements/create" method="post">
			<input type="submit" class="button" value="New Element" />
		</form>
	</div>
</div>

<table>
	<tr>
		<th>id</th>
		<th>title</th>
		<th>type</th>
	</tr>

	<% for(let i=0; i<all_elements.length; i++) { %>
		<tr>
			<td>
				<a href="/_m8/ce/elements/read?id=<%- all_elements[i].id %>">
					<img src="/_m8/img/icon-edit.svg" alt="edit element" />
					<%- all_elements[i].id %>
				</a>
			</td>
			<td>
				<%- all_elements[i].title %>
			</td>
			<td>
				<%- all_elements[i].type %>
			</td>
		</tr>
	<% } %>
</table>

<%- include('../../includes/footer'); %>
