<%- include('../../includes/header', { title: locals.title}); %>

<h1>Edit article</h1>
<%- locals.content %>

<form method="POST" action="<%- locals.formaction %>">
	<div class="valueedit">
		<span class="name">
			ID
		</span>
		<span class="value">
			<input name="id" type="text" value="<%- locals.article.id %>" readonly />
		</span>
	</div>

	<div class="valueedit">
		<span class="name">Topic</span>
		<span class="value">
			<input name="topic" type="text" value="<%- locals.article.topic %>" />
		</span>
	</div>

	<div class="valueedit">
		<span class="name">Title</span>
		<span class="value">
			<input name="title" type="text" value="<%- locals.article.title %>" />
		</span>
	</div>

	<div class="valueedit">
		<span class="name">Description
		</span>
		<span class="value">
			<input name="description" type="text" value="<%- locals.article.description %>" />
		</span>
	</div>

	<div class="valueedit">
		<span class="name">
			Channel
		</span>
		<span class="value">
			<input name="channel" type="number" value="<%- locals.article.channel %>" />
			<input name="channel_old" type="hidden" value="<%- locals.article.channel %>" />
		</span>
	</div>
	<div class="valueedit">
		<span class="name">
			Path
		</span>
		<span class="value">
			<input name="path" type="text" value="<%- locals.article.path %>" />
		</span>
	</div>
	<div class="valueedit">
		<span class="name">
			Type
		</span>
		<span class="value">
			<input name="type" type="text" value="<%- locals.article.type %>" />
		</span>
	</div>
	<div class="valueedit">
		<span class="name">
			Content
		</span><br>
		<span class="value">
			<%# textarea name="content" rows="30" cols="90"><x- locals.article.content x></textarea %>
			<script src="https://cdn.ckeditor.com/4.19.0/standard/ckeditor.js"></script>
			<textarea name="content" id="content"><%- locals.article.content %></textarea>
			<script>
					CKEDITOR.replace( 'content' );
			</script>
		</span>
	</div>
	<div class="formcontrol">
		<button>Save</button>
	</div>
</form>

<div class="button">
	<a href="/m8/ce/articles">Close</a>
</div>

<div style="margin-top:50px">
	<form name="delete_form" method="POST" action="/m8/ce/articles/delete">
		<input type="hidden" name="articleid" value="<%- locals.article.id %>" />
		<input type="hidden" name="path" value="<%- locals.article.path %>" />
		<div class="formcontrol">
			<button>DELETE</button>
		</div>
	</form>
</div>




<%- include('../../includes/footer'); %>
