<%- include('../../includes/header', { title: locals.title}); %>

<h1>Articles</h1>

<div>
	<%- locals.content %>
</div>

<div class="ceCard">
	<div class="button">
		<a href="/m8/ce/articles/create">Create new article</a>
	</div>
	<form>
		Open article:
		<input type="number" name="articleid" />
		<input type="submit" value="open" />
	</form>
	<form>	Filter Channel:
		<select name="channel_filter">
			<option value="all">All</option>
		</select>
		<input type="submit" value="go" />
	</form>
</div>

<h2><%- locals.title %></h2>
<table>
	<tr>
		<th>ID</th>
		<th>Topic</th>
		<th>Title</th>
		<th>Description</th>
		<th>Channel</th>
		<th>Slug</th>
		<th>View</th>
		<th>Build</th>
		<th>Edit</th>
	</tr>
	<% for(let i=0; i<all_articles.length; i++) { %>
		<tr>
			<td>
				<%- all_articles[i].id %>
			</td>
			<td><%- all_articles[i].topic %></td>
			<td><%- all_articles[i].title %></td>
			<td style="font-size:0.75rem;"><%- all_articles[i].description %></td>
			<td>
				<b>
					<%- all_articles[i].channel %>
				</b>
			</td>
			<td><%- all_articles[i].slug %></td>
			<td>
				<a href="<%- all_articles[i].path %>" target="m8preview">
					<img src="/img/icon-view.svg" alt="view article" />
				</a>
			</td>
			<td>
				<a href="/m8/generate/article?path=<%- all_articles[i].path %>" target="m8preview">
					<img src="/img/icon-generate.svg" style="height:28px;width:auto;" alt="edit node <%- all_articles[i].id %>" />
				</a>
			</td>
			<td>
				<a href="/m8/ce/articles/read?articleid=<%- all_articles[i].id %>">
					<img src="/img/icon-edit.svg" alt="edit article_<%- all_articles[i].id %>" />
				</a>
			</td>
		</tr>
	<% } %>
</table>

<%- include('../../includes/footer'); %>
