<div class="col1">
	
	<div class="col1div <%- locals.nav_active_start %>" style="background-color:#555;">
		<a href="/_m8/ce/" target="_top">
			<span class="col1-icon">
				<img src="/_m8/img/col1-start.svg" />
			</span>
			Start
		</a>
	</div>
	
	<div class="col1div <%- locals.nav_active_containers %>" style="background-color:#557;">
		<a href="/_m8/ce/containers/" target="_top">
			<span class="col1-icon">
				<img src="/_m8/img/col1-containers.svg" />
			</span>
			Containers
		</a>
	</div>
	
	<div class="col1div <%- locals.nav_active_pages %>" style="background-color:#587;">
		<a href="/_m8/ce/pages/" target="_top">
			<span class="col1-icon">
				<img src="/_m8/img/col1-pages.svg" />
			</span>
			Pages
		</a>
	</div>
	
	<div class="col1div <%- locals.nav_active_articles %>" style="background-color:teal;">
		<a href="/_m8/ce/articles/" target="_top">
			<span class="col1-icon">
				<img src="/_m8/img/col1-articles.svg" />
			</span>
			Articles
		</a>
	</div>
	
	<div class="col1div <%- locals.nav_active_shortcuts %>" style="background-color:#557;">
		<a href="/_m8/ce/shortcuts/" target="_top">
			<span class="col1-icon">
				<img src="/_m8/img/col1-shortcuts.svg" />
			</span>
			Shortcuts
		</a>
	</div>
	
	<div class="col1div <%- locals.nav_active_xlinks %>" style="background-color:teal;">
		<a href="/_m8/ce/xlinks/" target="_top">
			<span class="col1-icon">
				<img src="/_m8/img/col1-xlinks.svg" />
			</span>
			Xlinks
		</a>
	</div>

	<div class="col1div <%- locals.nav_active_files %>" style="background-color:#354;">
		<a href="/_m8/ce/files/" target="_top">
			<span class="col1-icon">
				<img src="/_m8/img/col1-files.svg" />
			</span>
			Files
		</a>
	</div>

	<div class="col1div <%- locals.nav_active_elements %>" style="background-color:#26a;">
		<a href="/_m8/ce/elements/" target="_top">
			<span class="col1-icon">
				<img src="/_m8/img/col1-elements.svg" />
			</span>
			Elements
		</a>
	</div>

	<div class="col1div <%- locals.nav_active_plugins %>" style="background-color:#646;">
		<a href="/_m8/ce/ceplugins/" target="_top">
			<span class="col1-icon">
				<img src="/_m8/img/col1-plugins.svg" />
			</span>
			Plugins
		</a>
	</div>

	<div class="col1div <%- locals.nav_active_feusers %>" style="background-color:#26a;">
		<a href="/_m8/ce/cefeusers/" target="_top">
			<span class="col1-icon">
				<img src="/_m8/img/col1-feusers.svg" />
			</span>
			FE-Users
		</a>
	</div>

	<div class="col1div <%- locals.nav_active_users %>" style="background-color:#286;">
		<a href="/_m8/ce/users/" target="_top">
			<span class="col1-icon">
				<img src="/_m8/img/col1-users.svg" />
			</span>
			BE-Users
		</a>
	</div>
	
	<!--
		<div class="col1div <%- locals.nav_active_nodes %>" style="background-color:#587;">
			<a href="/_m8/ce/nodes/" target="_top">
				<span class="col1-icon">
					<img src="/_m8/img/col1-nodes.svg" />
				</span>
				Nodes
			</a>
		</div>
	-->

</div>
