<%- include('../../includes/header', { title: locals.title}); %>

<h1 class="ceType">Articles</h1>

<div style="padding: 20px;">
	<%- locals.content %>
</div>

<div class="ceCard" style="background-color:#58a;color:#fff;">
	<form action="/_m8/ce/articles/edit?" method="get">
		Open article:
		<input type="number" name="articleid" />
		<input type="submit" value="open" />
	</form>
</div>

<div class="button">
	<form method="POST" action="/_m8/ce/articles/create">
		<button class="button">
			Create new article
		</button>
	</form>
</div>

<div class="ceCard" style="background-color:#58a;color:#fff;">
	<form metnod="get" action="">	
		Filter by Channel:
		<select name="channelid">
			<option value="all">All</option>
			<% if( locals.all_channels && locals.all_channels.length) { %>
				<% for(let i=0; i<locals.all_channels.length; i++) { %>
					<option value="<%- locals.all_channels[i].id %>">
						<%- locals.all_channels[i].id %>: <%- locals.all_channels[i].title %>
					</option>
				<% } %>
			<% } %>
		</select>
		<input type="submit" value="go" />
	</form>
</div>

<table class="ce-table">
	<tr>
		<th>ID <img src="/_m8/img/icon-edit.svg" alt="edit article" /></th>
		<th>Status</th>
		<th>Channel</th>
		<th>Title</th>
		<th>Slug <img src="/_m8/img/icon-view.svg" alt="view article" /></th>
		<th>updated</th>
	</tr>
	<% for(let i=0; i<all_articles.length; i++) { %>
		<tr>
			<td>
				<div class="button">
					<a href="/_m8/ce/articles/edit?articleid=<%- all_articles[i].id %>">
						<%- all_articles[i].id %>
					</a>
				</div>
			</td>

			<td>
				live
			</td>
			
			<td>
				<b><%- all_articles[i].parentid %></b>
					<hr style="color:#f0f0f0;">
					<span style="color:#555;">
						channelname
					</span>
			</td>

			<td>
				<%- all_articles[i].topic %>: <%- all_articles[i].title %>
			</td>

			<td>
				<b><%- all_articles[i].slug %></b>
				<hr style="color:#f0f0f0;">
				<a href="<%- all_articles[i].path %>" target="m8preview">
					<span style="color:#55a;">
						<%- all_articles[i].path %>
					</span>
					</a>
			</td>
			<td style="font-size:0.75rem;">
				<% const options = { weekday: 'short', year: 'numeric', month: 'long', day: 'numeric' }; %>
				<%- all_articles[i].updatedAt.toLocaleString('en-GB', options) %>
			</td>
		</tr>
	<% } %>
</table>

<%- include('../../includes/footer'); %>
